.page {
  position: relative;

  &__content {
    position: relative;
    padding: clamp(70px, 24px + 7.1vw, 110px) clamp(16px, 2vw + 8px, 32px)
      clamp(75px, 30px + 7vw, 100px);
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}
